<%= simple_form_for(@participant) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :invite_hash, type: :hidden %>
    <%= f.input :age %>
    <%= f.input :gender %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Start de test", class: 'small button' %>
  </div>
<% end %>
