
<h1>Overzicht van antwoorden</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Itembank</th>
      <th>Deelnemer</th>

      <th>Vraag</th>
      <th>Value</th>
      <th>Stat value</th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
          <td><%= response.id %></td>

        <td><%= link_to response.itembank.name, response.itembank if response.itembank%></td>
        <td><%= link_to response.participant_id, response.participant %></td>
        <td><%= response.question %></td>
        <td><%= response.text_value %> </td>
        <td><%= response.stat_value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
