<div class="row">
  <div class="large-12 columns">
<%= render 'form' %>


<div class="panel">
<h3>Debugpaneel</h3>
Proefpersoon: <%= link_to current_participant.id, current_participant %>
<% if @prev_eval_results%>
<p>Resultaat van de evaluatie vóór deze vraag:</p>
<pre>
  Next item (wordt dus nu getoond): <%= @prev_eval_results[:next_item_index].inspect%>
  Estimate: <%= @prev_eval_results[:estimate].inspect%>
  Variance: <%= @prev_eval_results[:variance].inspect%>
</pre>

<p>Om tot deze vraag te komen werd de volgende antwoordenreeks verstuurd:<br/><small><%= current_participant.responses_to_stat_hash %></small></p>
<% end %>
</div>
</div>
</div>