<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Vragenlijst kwaliteit van leven bij COPD" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if current_registered_user? %>
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#"><em>ut</em>CAT</a></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class=""><%=link_to 'Uitloggen', sign_out_path %></li>

          </ul>

          <ul class="left">
            <% if current_admin %>
              <li class=""><%= link_to 'Respondenten', participants_path %></li>
              <li class=""><%= link_to 'Itembanks', itembanks_path %></li>
              <li class=""><%= link_to 'Nieuwe examinator', new_examinator_registration_path %></li>
            <% end %>
            <% if current_examinator %>
              <li class=""><%= link_to 'Genodigden', invites_path %></li>
            <% end %>
          </ul>
        </section>
      </nav>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="row">
      <div class="large-12 columns">
         <%= yield %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns"><small>
        <% unless current_examinator %><%= link_to 'Log in als examinator', new_examinator_session_path %><% end %><%unless current_admin or current_examinator%> | <% end%><% unless current_admin %><%= link_to 'Log in als administrator', new_admin_session_path %><% end %>
      </small>
    </div>
    </div>
  </body>
</html>
